@using SportSystem.App.Models.ViewModels
@model PlayerViewModel

<div class="player">
    <h2>
        <b>@Model.Name</b>
    </h2>
 
    <h3>Born: @Model.DateOfBirth</h3>
    
    <h3>Height: @Model.Height</h3>
</div>