extends ../shared/layout
block mainContent
  h1 Add Article
  form(method="POST" action="/articles/add")
    label(for="title") Title
    br
    input(type="text" name="title" id="title")
    br
    label(for="content") Content
    br
    input(type="textarea" name="content" id="content")
    br
    input(type="submit" value="Add")