#div1 {
	width: 520px;
	height: 355px;
	background-color: rgb(255, 192, 203);
}

#label1 {
	position: absolute;
	top: 25px;
	left: 130px;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

#label2 {
	position: absolute;
	top: 70px;
	left: 20px;
}

#label3 {
	position: absolute;
	top: 70px;
	left: 270px;
}

#select1 {
	position: absolute;
	top: 90px;
	left: 20px;
	width: 235px;
	height: 25px;
}

#select2 {
	position: absolute;
	top: 90px;
	left: 270px;
	width: 235px;
	height: 25px;
}

#input1 {
	position: absolute;
	top: 120px;
	left: 270px;
}

#label4 {
	position: absolute;
	top: 120px;
	left: 290px;
}

#label5 {
	position: absolute;
	top: 140px;
	left: 20px;
}

#label6 {
	position: absolute;
	top: 140px;
	left: 270px;
}

#input2 {
	position: absolute;
	top: 160px;
	left: 20px;
	width: 240px;
	height: 25px;
	font-size: 15px;
	color: rgb(85, 67, 36);
}

#input3 {
	position: absolute;
	top: 160px;
	left: 270px;
	width: 110px;
	height: 25px;
	font-size: 15px;
	color: rgb(85, 67, 36);
}

#input4 {
	position: absolute;
	top: 160px;
	left: 390px;
	width: 110px;
	height: 25px;
	font-size: 15px;
	color: rgb(85, 67, 36);	
}

#label7 {
	position: absolute;
	top: 195px;
	left: 20px;
}

#label8 {
	position: absolute;
	top: 195px;
	left: 270px;
}

#input5 {
	position: absolute;
	top: 215px;
	left: 20px;
	width: 240px;
	height: 25px;
	font-size: 15px;
	color: rgb(85, 67, 36);	
}

#input6 {
	position: absolute;
	top: 215px;
	left: 270px;
	width: 110px;
	height: 25px;
	font-size: 15px;
	color: rgb(85, 67, 36);	
}

#input7 {
	position: absolute;
	top: 215px;
	left: 390px;
	width: 110px;
	height: 25px;
	font-size: 15px;
	color: rgb(85, 67, 36);	
}

#label9 {
	position: absolute;
	top: 250px;
	left: 20px; 
}

#label10 {
	position: absolute;
	top: 250px;
	left: 100px;
}

#label11 {
	position: absolute;
	top: 250px;
	left: 180px; 
}

#label12 {
	position: absolute;
	top: 250px;
	left: 270px;
}

#input8 {
	position: absolute;
	top: 270px;
	left: 20px;
	width: 70px;
	height: 25px;
	font-size: 20px;
	font-weight: bold;
}

#input9 {
	position: absolute;
	top: 270px;
	left: 100px;
	width: 70px;
	height: 25px;
	font-size: 20px;
	font-weight: bold;
}

#input10 {
	position: absolute;
	top: 270px;
	left: 180px;
	width: 70px;
	height: 25px;
	font-size: 20px;
	font-weight: bold;
}

#select3 {
	position: absolute;
	top: 270px;
	left: 270px;
	width: 235px;
	height: 30px;
}

#button1 {
	position: absolute;
	top: 305px;
	left: 270px;
	width: 235px;
	height: 40px;
}

label {
	font-style: italic;
}

select {
	font-weight: bold;
	font-size: 15px;
}