@using Snippy.App.Models
@model HomeViewModel

<div id="snippets">
    <h2>Latest snippets:</h2>

    @Html.DisplayFor(m => m.Snippets)
</div>

<div id="comments">
    <h2>Latest comments:</h2>

    @Html.DisplayFor(m => m.Comments)
</div>

<div id="labels">
    <div id="best-labels">Best labels</div>

    @Html.DisplayFor(m => m.Labels)
</div>