@using Snippy.App.Models
@model LabelViewModel

<div class="label-home">
    @Html.ActionLink(Model.Text, "Snippets", "Labels", new { id = Model.Id }, null)

    <span class="label-snippets-count">@Model.SnippetsCount</span>
</div>