@using Snippy.App.Models
@model SnippetDetailsCommentViewModel

<div class="comment">
    <div>@Model.Content</div>

    <div><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <b>@Model.Author</b> on @Model.CreationTime</div>
</div>