@using Twitter.MVC.Models.BindingModels
@model TweetBindingModel

<div class="tweet">
    @using (Html.BeginForm("PostTweet", "Tweets"))
    {
        @Html.EditorFor(m => m.Content, new { htmlAttributes = new { placeholder = "Enter tweet text..." } })
        @Html.ValidationMessageFor(m => m.Content)
        <input type="submit" value="Tweet" />
    }
</div>