@using Twitter.MVC.Models.ViewModels
@using Twitter.MVC.Models.BindingModels
@model IEnumerable<TweetViewModel>

@if (this.User.Identity.IsAuthenticated)
{
    @Html.Partial("_PostTweetPartial", new TweetBindingModel())
}

<div id="tweets">
    @Html.DisplayForModel()
</div>

@section scripts {
    <script>
        var tweetsHub = $.connection.tweets;

        tweetsHub.client.receiveTweet = function (username, content) {
            var tweet = $('<div class="tweet">')
                .append($('<div class="user">').text(username))
                .append($('<div class="tweet-content">').text(content));

            $('#tweets').prepend(tweet);
        }

        $.connection.hub.start();
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}