extends ../shared/layout
block mainContent
  h1 Create new user
  form(method="POST" action="/users/create")
    label(for="username") Username
    br
    input(type="text" name="username" id="username" value=username)
    br
    label(for="password") Password
    br
    input(type="password" name="password" id="password")
    br
    label(for="confirmPassword") Confirm Password
    br
    input(type="password" name="confirmPassword" id="confirmPassword")
    br
    label(for="firstName") First Name
    br
    input(type="text" name="firstName" id="firstName")
    br
    label(for="lastName") Last Name
    br
    input(type="text" name="lastName" id="lastName")
    br
    input(type="submit" value="Create")