#head {
	background-image: url(head.png);
	height: 300px;
	width: 305px;
}

#leftEye {
	background-image: url(lefteye.png);
	position: absolute;
	left: 62px;
	top: 70px;
	height: 70px;
	width: 70px;	
}

#rightEye {
	background-image: url(righteye.png);
	position: absolute;
	top: 67px;
	left: 190px;
	height: 70px;
	width: 70px;
}

#nose {
	background-image: url(nose.png);
	position: absolute;
	top: 140px;
	left: 133px;
	height: 50px;
	width: 60px;
}

#mouth {
	background-image: url(mouth.png);
	position: absolute;
	top: 200px;
	left: 70px;
	height: 70px;
	width: 167px;
}